@page "/games"
@inject IGameRepository gameRepository

<h3>Index Games</h3>

<div class="form-group">
    <a class="btn btn-info" href="game/create">New Game</a>
</div>

<GenericList List="games">
    <WholeListTemplate>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th style="text-align:center">Game Title</th>
                    <th style="text-align:center">Win Score</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in games)
                {
                    <tr>
                        <td>
                            <a class="btn btn-success" href="/game/edit/@item.GameId">Edit</a>
                            <button class="btn btn-danger" @onclick="@(()=> DeleteGame(item.GameId))">Delete</button>
                        </td>
                        <td style="text-align:center">@item.GameTitle</td>
                        <td style="text-align:center">@item.WinScore</td>
                    </tr>
                }
            </tbody>
        </table>
    </WholeListTemplate>
</GenericList>
@code {
    private List<Game> games;


    protected override async Task OnInitializedAsync()
    {
        try
        {
            games = await gameRepository.GetGames();
        }
        catch (Exception ex)
        {

            Console.WriteLine(ex.Message);
        }
    }


    private async Task DeleteGame(int id)
    {
        await gameRepository.DeleteGame(id);
        games = await gameRepository.GetGames();

    }
}