@page "/person/edit/{PersonId:int}"
@inject IPersonRepository personRepository
<h3>Edit Person</h3>

@if (person != null)
{
<PersonForm Person="person" OnValidSubmit="Edit" />
}

@code { 
    [Parameter] 
    public int PersonId { get; set; }

    private Person person;

    protected async override Task OnInitializedAsync()
    {
        person = await personRepository.GetPersonById(PersonId);
    }

    private void Edit()
    {
        Console.WriteLine("editing the person...");
    } }
