@page "/people"
@inject IPersonRepository personRepository
@attribute [Authorize]

<h3>Index People</h3>

<div class="form-group">
    <a class="btn btn-info" href="person/create">New Person</a>
</div>
<Pagination CurrentPage="@paginationDTO.Page" TotalAmountOfPages="totalAmountOfPages" SelectedPage="SelectedPage" />

<GenericList List="people">
    <WholeListTemplate>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th>Person Full Name</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in people)
                {
<tr>
    <td>
        <a class="btn btn-success" href="/person/edit/@item.Id">Edit</a>
        <button class="btn btn-danger" @onclick="@(()=> DeletePerson(item.Id))">Delete</button>
    </td>
    <td>@item.FullName</td>
</tr>                }
            </tbody>
        </table>
    </WholeListTemplate>
</GenericList>
@code { private List<Person> people;
            PaginationDTO paginationDTO = new PaginationDTO();
            private int totalAmountOfPages;

            protected override async Task OnInitializedAsync()
            {
                try
                {
                    await LoadPeople();
                }
                catch (Exception ex)
                {

                    Console.WriteLine(ex.Message);
                }
            }
            private async Task LoadPeople()
            {
                var paginatedResponse = await personRepository.GetPeople(paginationDTO);
                people = paginatedResponse.Response;
                totalAmountOfPages = paginatedResponse.TotalAmountOfPages;
            }
            private async Task SelectedPage(int page)
            {
                paginationDTO.Page = page;
                await LoadPeople();
            }
            private async Task DeletePerson(int personId)
            {
                await personRepository.DeletePerson(personId);
                await LoadPeople();
            } }
