@page "/"
@page "/index"
@inject ITeamRepository teamRepository

<AuthorizeView Roles="Admin">
    <Authorized>
        You are authorized @context.User.Identity.Name
    </Authorized>
    <NotAuthorized>
        Not authorized
    </NotAuthorized>
</AuthorizeView>
<div>
    <h3>Eastern Conference</h3>
    <TeamsList Teams="easternTeam" />
</div>
<div>
    <h3>Western Conference</h3>
    <TeamsList Teams="westernTeam" />
</div>



@code{
    private List<Team> easternTeam;
    private List<Team> westernTeam;

    

    protected async override Task OnInitializedAsync()
    {
        var response = await teamRepository.GetIndexPageDTO();
        easternTeam = response.EasternConference;
        westernTeam = response.WesternConference;
    }
}